.container {
  background-color: white;
  margin: auto;
  padding-left: 20px;
  padding: 20px;
  /* height: 100vh; Magic here */
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
